<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas Vue.js</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="app" class="container">
        <h1>Lista de Tarefas Vue.js</h1>
        <input type="text" v-model="newTask" @keyup.enter="addTask" placeholder="Digite uma nova tarefa...">
        <ul>
            <li v-for="(task, index) in tasks" :key="index" @click="toggleComplete(task)" @contextmenu.prevent="removeTask(task)">
                <span :class="{ 'complete': task.completed }">{{ task.name }}</span>
            </li>
        </ul>
        <div id="usageGuide">
            <h2>Guia de Uso</h2>
            <p><strong>Adicionar Tarefa:</strong> Digite o nome da tarefa na caixa de texto acima e pressione Enter.</p>
            <p><strong>Marcar/Desmarcar Tarefa:</strong> Clique na tarefa para marcá-la como concluída ou desmarcá-la.</p>
            <p><strong>Remover Tarefa:</strong> Clique com o botão direito do mouse na tarefa e selecione "Excluir" no menu de contexto.</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/script.js"></script>
</body>
</html>
